# Created by .ignore support plugin (hsz.mobi)
/build/
/.idea/
/server/build/
/plant-tracker.iml
/.gradle/
/server/out/
/server/src/main/resources/db/migration/postgres:/iebysyoe:3P5Yf6jyLUqpfHFLtt6Wazd-GMZi-bkh@elmer.db.elephantsql.com:5432/
